{% extends "overall_template.html" %}
{% load pagination_tags %}
{% load i18n %}
{% load staticfiles %}
{% load poll_extras %}
{% block pagetitle %}信用卡账单还款明细录入{% endblock %}

{% block extrajs %}

{% endblock %}

{% block body %}
    	<div id="content">
    	<div id="left_half_content">

    	<table class="mytable">
 		{% autopaginate billpaylist 18%}
    		<tr><td colspan=8>总数：<a id="titlenum">{{ billpaylist.count }}</a> </td></tr>
    		<tr>
	    		<th width=30 >序号</th>
	    		<th width=100 >操作</th>
	    		<th width=100 >账单</th>
	    		<th width=100 >转出账户</th>
	    		<th width=100 >信用卡账户</th>
	    		<!-- <th width=100 >余额</th> -->
	    		<th width=100 >金额</th>
	    		<th width=100 >还款日</th>

			</tr>
			
  			{% for data in billpaylist %}
  				<tr>
     			<td>
     				<a id="textreturned">
     				{{ request.page|minus:1|times:18|add:forloop.counter }}</a></td>
     			<td><a href="{% url 'action_one_billinfo' data.id %}">改  </a>
     				<a href="{% url 'action_one_billinfo' data.id %}"> 删 </a>
		     	<td>
     				<a id="textreturned">
		     		{{ data.bill }}</a></td>      
     			<td>     				
		     	<td>
     				<a id="textreturned">
		     		{{ data.source }}</a></td>      
     			<td>
     				<a id="textreturned">
     				{{ data.target }}</a></td>
     			<td>
     				<a id="textreturned">
     				{{ data.amount }}</a></td>
     			<td>
     				<a id="textreturned">
     				{{ data.transdate }}</a></td>
  			{% endfor %}
  		</table>
		{% paginate %}

    	</div>
    	<div id="split_content"> 
    	</div>
    {% ifequal id Null %} 
    	<form action="{% url 'action_all_billpay' %}" method="post">
    {% else %}
    	<form action="{% url 'action_one_billpay' id%}" method="post">
    {%endifequal%}
    	<div id="righ_half_content">
{% if billform.errors %}
        <p style="color: red;">
            	请修正以下错误.
        </p>
{% endif %}
        	<table>
            	{{ form.as_table }}
        		&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="添加/修改" id="submit_btn">
        		<a href="{% url 'action_all_billpay' %}">&nbsp;&nbsp;&nbsp;&nbsp;清空</a>
        	</table>
        </div>
    </form>
        </div>
{% endblock %}
