{% extends "basic_template.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pagetitle %}掌控你的财务{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "media/js/index.js" %}"></script>
{% endblock %}

{% block body %}
	<div class="column">
		<div class="row index">
			<a id="start" class="button" href="/login">{% trans '去登录' %} &gt;&gt;</a>
			<div id="promoboxes">
				<h3> </h3>
				<img src="{% static "media/img/index/organise.png" %}" alt="Organise your finances"/>
				<h3> </h3>
				<img src="{% static "media/img/index/money_stacks.png" %}" alt="Watch your money grow"/>
			</div>
				<img src="{% static "media/img/index/money_stacks.png" %}" alt="Watch your money grow"/>
			<div class="clear"> </div>
		</div>
	</div>
{% endblock %}
