{% load i18n %}
{% load staticfiles %}
{% block extracss %}
        <link rel="stylesheet" type="text/css" href="{% static "login/demo.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "login/style.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "login/animate-custom.css" %}"/>
{% endblock %}

{% block body %}

        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="">
                    <strong> </strong>
                </a>
                <!--
                <span class="right">
                    <a href="wxfocus">
                        <strong>微信平台</strong>
                    </a>
                </span>
               	-->
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>P2P网贷管理 信用卡管理 财务记账 集中管理你的财富</span></h1>
				<nav class="codrops-demos">
					<span>点击 <strong>“<a href="/user/registe" class="to_register">注册/Register</a>”</strong> 开启您的财务自由之路</span>
				</nav>
            </header>
            
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/login/?next={{ next }}" method="post" autocomplete="on"> 
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > 您的登录名称 </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="您的登录名称"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> 您的密码 </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="您的密码" />
                                </p>
                                <p class="keeplogin">
                                	<label for="loginkeeping"><a href="#toregister">忘记密码</a></label>
                                </p> 
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">记住我</label>
								</p>
								
								<div class="errormsg">
									<label style="font-size: 8px;color: red;" for="errormsg"> {{ errormsg }}</label>
									<label style="font-size: 8px;color: blue;" for="errormsg">{{ infomsg }}</label>
								</div>
                                <p class="login button"> 
                                    <input type="submit" value="登录/Log in" /> 
								</p>
                                <p class="change_link">
									还没加入吗?
									<a href="/user/registe" class="to_register">注册/Register</a>
								</p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="/user/iforgot/" method="post" autocomplete="on"> 
                                <h1> iForgot </h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" >您的登录名称 </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="重置密码用"/>
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" data-icon="e" >您注册的电子邮件</label>
                                    <input id="emailsignup" name="email" required="required" type="email" placeholder="接收重置密码链接"/> 
                                    <label style="font: italic;font-size: 8px" >如果您无法收到email请通过微信联系站长帮助解决</label>	
                                </p>
								<div class="errormsg">
									<label style="font-size: 8px;color: red;" for="errormsg"></label>
									<label style="font-size: 8px;color: blue;" for="errormsg"></label>
								</div>                                
                                <p class="signin button"> 
									<input type="submit" value="提交/Submit"/> 
								</p>
                                <p class="change_link">  
									已经找回密码 ?
									<a href="#tologin" class="to_register"> 去登录</a>
								</p>
                            </form>
                        </div>
			
                    </div>

                    </div>
                </div>  
            </section>
        </div>

{% endblock body %}