{% extends "overall_template.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pagetitle %}欢迎使用本系统{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body %}
<form action="" method="post">
<div id="templatemo_main">
    <div id="content"> 
    	<div class="splitsection"> </div>
       <div id="home" class="section">
           <div class="text_box_label">
    		<label for="text_box_label">用户名：</label>
           </div>
           <div class="text_box_input">
    		<input name="login.login_name"/>*
           </div>
           <div class="text_box_label">
    		<label for="text_box_label">姓名：</label>
           </div>
           <div class="text_box_input">
    		<input name="login.firstname"/>
           </div>

           <div class="text_box_label">
			<label for="text_box_label">手机号： </label>
           </div>
           <div class="text_box_input">
		    <input name="login.mobile"/><label for="text_box_label">*(短信通知)</label>
           </div>
           <div class="text_box_label">
			<label for="text_box_label">电子邮件：</label>
           </div>
           <div class="text_box_input">
           <input name="login.email"/><label for="text_box_label">*(找回密码)</label>
           </div>

           <div class="text_box_label">
			<label for="text_box_label">登录密码：</label>
           </div>
           <div class="text_box_input">
           <input type="password" name="login.logpass"/><label for="text_box_label">*(最短6位)</label>
           </div>

           <div class="text_box_label">
			<label for="text_box_label">重复登录密码：</label>
           </div>
           <div class="text_box_input">
           <input type="password" name="repassword"/><label for="text_box_label">*(最短6位)</label>
           </div>

        </div>
	</div>       
	<div class="right">
    	<input type="submit" value="注册" id="submit_btn"/>
    </div>
</div>
</form>
{% endblock %}
