{% extends "overall_template.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pagetitle %}微信{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "media/js/index.js" %}"></script>
{% endblock %}

{% block body %}
<div id="templatemo_main">
		<div class="splitsection"></div>
        <div class="section section_with_padding" id="about"> 
            <h1>微信平台介绍</h1>
            <div class="half left">
                <div class="img_border img_fl">
                    <img src="images/weixin_barcode_small.jpg" alt="weixin" />	
                </div>
                <p align="justify"><em>微信订阅号<strong>“理财平台”</strong></em></p>
                <p align="justify">通过关注微信订阅号“理财平台”可以微信查询您的实时账务信息，近日待收明细，并设置回款等操作.
                 </p>
             </div>
             <div class="half right">
                 <ul id="social_links">
                    <li><a href="#" class="facebook">广告位</a></li>
                    <li><a href="#" class="flickr">广告位</a></li>
                    <li><a href="#" class="skype">广告位</a></li>
                    <li><a href="#" class="twitter">广告位</a></li>
                    <li><a href="#" class="youtube">广告位</a></li>
                    <li><a href="#" class="vimeo">广告位</a></li>                   
                </ul>
            </div>
       </div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
      <div class="section section_with_padding" id="about"> 
            <div class="half left">
                 <div class="img_border img_fr">
                    <img src="images/css_weixin_small.jpg" alt="css" />	
                </div>
                <p align="justify">关注站长微信号，可以实时与站长沟通，提出您的建议.</p>
			</div>
			<div class="half right">
                <div class="clear h20"></div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
                <div class="clear h20"></div>
			
			<strong>MoneyBall:</strong> Make your money more <strong>valuable</strong>!</a>.
			</div>
     </div>

                
           
            <a href="view_welcome" class="home_btn">home</a> 
</div> 
{% endblock %}
